:root {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: 'Viaoda Libre', cursive;
}

main {
  flex-grow: 1;
}
.bg-wf{
  background-image: url(WFBG.jpg);
  height:20rem ;
  background-size: cover;
  background-position: center;
}

.card-1{
  height: 150px;
  width: 90px;
  box-shadow: 0 5px 5px 2px;
  background-color: rgb(236, 236, 236);
}
.box-shadow{box-shadow: 1px 1px 2px -1px;}
.bg-w{
  background-color:rgb(247, 245, 245) ;
}

.spill {
  bottom: -3em;
  
}

.text-lg{
  font-size: x-large;
}
.text-review{
  color:blue ;
}
.text-shadow{
  text-shadow: -5px 2px 18px black
}
.p-size{
  max-width: 220px;
  max-height: 350px;
  
}
.love{
  color: white;
}
@media only screen and (max-width: 600px) {
  .love {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .spill {
    bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .card {
    bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .card-body {
    bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
  }
}
