:root {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}
.bg-wf{
  background-image: url(WFBG.jpg);
  height:20rem ;
  background-size: cover;
}
.card-1{
  height: 150px;
  width: 90px;
  box-shadow: 0 5px 5px 2px;
  background-color: rgb(236, 236, 236);
}
.box-shadow{box-shadow: 0 5px 5px 2px;}
.bg-white{
  background-color:rgb(185, 176, 176) ;
}

.spill {
  bottom: -5em
}
.text-lg{
  font-size: x-large;
}
.text-review{
  color:blue ;
}