:root {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}
.bg-wf{
  background-image: url(WFBG.jpg);
  height:80px ;
  background-size: cover;
}
.card-1{
  height: 150px;
  width: 90px;
  box-shadow: 0 5px 5px 2px;
  background-color: rgb(236, 236, 236);
}
.card-2{
  height: 30vh;
  width: 70px;
  box-shadow: 0 5px 5px 2px;
  background-color: rgb(236, 236, 236);
}
.card-3{
  height: 40vh;
  width: 70px;
  box-shadow: 0 5px 5px 2px;
  background-color: rgb(236, 236, 236);
}

.spill {
  bottom: -5em
}
.text-lg{
  font-size: x-large;
}